<div class="jumbotron">
  <h1 class="display-3"><i class="wi wi-day-cloudy"></i> Weather App</h1>
  <p class="lead">This is a simple weather app that calls from OpenWeatherMap API.</p>
  <small>By<a href="https://www.linkedin.com/in/stxts" target="_blank"> Songtham Tungkitkancharoen </a></small>
  <hr class="my-4">
  <div class="row">
  <div class="col-lg-6">
  <form (ngSubmit)="getCurrentWeather(city)">
    <div class="input-group">  
      <input type="text" class="form-control" required="required" id="city" name="city" placeholder="Please enter a city..." #city>
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Go!</button>
      </span>
    </div>
  </form>
  </div>
</div>
</div>
<div class="jumbotron" id="results">
  {{getData}}
</div>